div.jHtmlAreaColorPickerMenu {width: 112px;border: 1px solid #a6c9e2; background-color: #fff;}
div.jHtmlAreaColorPickerMenu div {float: left; margin: 2px; width: 12px; height: 14px;}
div.jHtmlAreaColorPickerMenu div:hover {margin: 1px; border: solid 1px #79b7e7;}
