#blank-contragent fieldset {margin:10px auto 0px auto;}
#blank-contragent .form-element-item {width:400px;}

#blank-contragent #fieldset-maindata textarea{height:3.8em;}
#blank-contragent #fieldset-notice .form-elements {float:none;}
#blank-contragent #fieldset-notice #note {width:100%;height:4.8em;}