#blank-hot-water-supply fieldset {margin:10px auto 0px auto;}
#blank-hot-water-supply .form-element-item {width:400px;}
#blank-hot-water-supply #fieldset-notice .form-elements {float:none;}
#blank-hot-water-supply #fieldset-notice #note {width:100%;height:4.8em;}