#blank-specialization fieldset {width:860px;margin:0 auto 5px auto;}

#blank-specialization #fieldset-main .form-element-label {width: 150px;}
#blank-specialization #fieldset-main .form-element-item {width: 690px;}
#blank-specialization #fieldset-main textarea {height:3.6em;}
#blank-specialization #fieldset-main .form-element-item .ui-linkedfield {width:670px;}

#blank-specialization #fieldset-notice .form-elements {float:none;}
#blank-specialization #fieldset-notice #note {width:100%;height:4.8em;}